.mat-drawer-container{
  height: calc(100vh - 2.2rem);
    &.media-xsmall{
      height: 100vh;
    } 
}

.mat-sidenav{
  padding: 1rem 1.125rem;
  background-color: var(--mat-sys-surface-container-low);
  transition: all 400ms cubic-bezier(0.25, 0.8, 0.25, 1)!important;
}

  