<div class="main-wrapper" [class]="sizeClasses()">
  <cf-side-bar
    [visible]="isSideBarOpen()"
    (closing)="isSideBarOpen.set(false)"
    [collapsed]="isSideBarCollapsed()"
  >
    <ng-container ngProjectAs="side-bar-content">
      <ng-content select="cf-main-layout-content[for='side-bar']"> </ng-content>
    </ng-container>
    <ng-container ngProjectAs="main-content">
      <cf-drawer
        [(isOpen)]="isDrawerOpen"
        [position]="drawerPosition()"
        [mode]="drawerMode()"
      >
        <ng-container ngProjectAs="drawer-content">
          <ng-content select="cf-main-layout-content[for='drawer']">
          </ng-content>
        </ng-container>
        <ng-container ngProjectAs="main-content">
          <cf-toolbar
            [isSideBarEnabled]="isSideBarEnabled()"
            [isDrawerEnabled]="isDrawerEnabled()"
            [sideBarStateOrder]="sideBarStateOrder()"
            [(isSideBarOpen)]="isSideBarOpen"
            [(isSideBarCollapsed)]="isSideBarCollapsed"
            [(isDrawerOpen)]="isDrawerOpen"
          >
            <ng-content select="cf-main-layout-content[for='toolbar']">
            </ng-content>
          </cf-toolbar>
          <div class="main-layout-content">
            <ng-content select="cf-main-layout-content[for='main']">
            </ng-content>

            <div
              class="main-layout-fab"
              [style.display]="fabVisible() ? 'flex' : 'none'"
            >
              <div class="fab-wrapper">
                <button
                  mat-fab
                  class="success"
                  (click)="openBottomSheetActions()"
                >
                  <mat-icon>expand_circle_up</mat-icon>
                </button>
              </div>
            </div>
            <ng-template #bottomSheetOutlet>
              <ng-content select="cf-main-layout-content[for='fabActions']">
              </ng-content>
            </ng-template>
          </div>
        </ng-container>
      </cf-drawer>
    </ng-container>
  </cf-side-bar>
</div>
