<div name="toolbar" class="main-layout-toolbar">
  @if(isSideBarEnabled()){
  <button mat-icon-button (click)="cycleSideBarStates()">
    <mat-icon>{{ !isCompletelyOpen() ? "menu" : "menu_open" }}</mat-icon>
  </button>
  }
  <div class="text-truncate" style="width: 100%">
    <ng-content> </ng-content>
  </div>
  @if(isDrawerEnabled()){
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon
      [class]="drawerIconClass()"
      [matBadge]="drawerBadgeText()"
      [matBadgeHidden]="drawerBadgeHidden()"
    >{{
      isDrawerOpen() ? "filter_list_off" : "filter_list"
    }}</mat-icon>
  </button>
  }
</div>
